<a href="https://colab.research.google.com/github/ksaswathy/html/blob/main/Yet_another_copy_of_aswathy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# porgram check to eligible for voting
age=int(input("enter the age:"))
if age>=18:
  print("eligible for voting")
else:
  print("not eligible for voting")

enter the age:12
not eligible for voting

In [ ]:
# program to check given number is odd or even
num1=int(input("enter the number:"))
if num1>0:
  if num1%2==0:
    print("the number is even")
  else:
    print("the number is odd")

enter the number:1
the number is odd

In [ ]:
# program to find the largest among three number
print("enter the number in order")
num1=float (input("enter the first number"))
num2=float(input("enter the second number"))
num3=float(input("enter the third number"))
if num1>=num2 and num1>=num2:
  print("grater:",num1)
elif num2>=num1 and num2<=num3:
  print("grater:",num2)
else:9
  print("grater:",num3)

enter the number in order
enter the first number1
enter the second number9
enter the third number8
grater: 8.0

In [ ]:
# progrsm to print electricity bill
print("electricity bill - house")
units=float(input("enter the units:"))
if units <=50:
  amount=(units * 0.25)
  print("amount : rd",amount)
elif units <=100:
  balance=units-50
  amount=(50 * 0.25)+(balance * 50)
  print("amount : rs",amount)
elif units <=150:
  balance=units-100
  amount=(100 * 0.25)+(balance * 100)
  print("amount : rs",amount)
elif units <=200:
  balance=units-150
  amount=(150 *0.25)+(balance * 150)
  print("amount : rs",amount)
elif units >200:
  balance=units-200
  amount=(50 * 0.25)+(50 * 0.50)+(50 * 0.75)+(balance * 1.00)
  print("amount : rs",amount)

electricity bill - house
enter the units:50
amount : rd 12.5

In [ ]:
# program to determine the season based on month
month=int(input("enter the month(1-12):"))
if 3<=month<=5:
  season="spring"
elif 6 <= month <= 8:
  season="summer"
elif 9 <= month <= 11:
  season="autumn"
else:
  season="winter"
print("the seson is",season)

enter the month(1-12):5
the seson is spring

In [ ]:
# calculate the discount on purchase:
total_price = float(input("enter the total_price:"))

if total_price > 100 :
  discount = total_price * 0.10
else:
  discount = 0

final_price = total_price - discount
print("discount: 5", discount)

enter the total_price:334
discount: 5 33.4

In [ ]:
#check if number is prime:
num = int(input("enter the number:"))

if num > 1:
  for i in range(2,num):
     if(num % i) == 0:
      print(num, "is not a price number")
      break
  else:
    print(num, "is a prime number")
else:
  print(num, "is not a prime number")

enter the number:4
4 is not a price number

In [ ]:
#program to slice string
name="hello word"
a="welcome"
print(name[2:5])
print(name[-4:-2])
print(name[::-1])
print(name+a)
print(a*(12))
print(name[6:5])

llo
wo
drow olleh
hello wordwelcome
welcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcome

In [ ]:
#list programs
mylist=["aswathy",21,"thrissur"]
print(mylist)
print(mylist[2])
print(mylist[2][::-1])
print(mylist[::-1])

['aswathy', 21, 'thrissur']
thrissur
russirht
['thrissur', 21, 'aswathy']

In [ ]:
#tuple programs
mytuple=("aswathy",21,"thrissur")
mytuple1=("edapally",)
print(mytuple)
print(mytuple[0:2])
print(mytuple[::-1])
print(mytuple*(12))
p=(mytuple+mytuple1)
print(p)

('aswathy', 21, 'thrissur')
('aswathy', 21)
('thrissur', 21, 'aswathy')
('aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur', 'aswathy', 21, 'thrissur')
('aswathy', 21, 'thrissur', 'edapally')

In [ ]:
# program print 1 to 50
count = 0
while count<50:
  count+=1
  print("number:",count)

number: 1
number: 2
number: 3
number: 4
number: 5
number: 6
number: 7
number: 8
number: 9
number: 10
number: 11
number: 12
number: 13
number: 14
number: 15
number: 16
number: 17
number: 18
number: 19
number: 20
number: 21
number: 22
number: 23
number: 24
number: 25
number: 26
number: 27
number: 28
number: 29
number: 30
number: 31
number: 32
number: 33
number: 34
number: 35
number: 36
number: 37
number: 38
number: 39
number: 40
number: 41
number: 42
number: 43
number: 44
number: 45
number: 46
number: 47
number: 48
number: 49
number: 50

In [ ]:
# program to check automorphic and trimorpic number
a = int(input("enter the num:"))
squre = a**2
smode = pow(10,len(str(a)))
cube = a**3
cmode = pow(10,len(str(a)))
if squre % smode == a:
  print("automorphic")
elif cube % cmode == a:
  print("trimorphic")
else:
  print("not automorphic and trimorphic")

enter the num:3
not automorphic and trimorphic

In [ ]:
# program to cheak season
month = int(input("enter the month 1 to 12:"))
if 3>= month <=6:
  print("summer")
elif 7>= month <=9:
  print("winter")
elif 10>= month >=11:
  print("autumn")
else:
  print("spring")

enter the month 1 to 12:12
spring

In [ ]:
# program using set
myset={1, 2, "a", 22, "oneteam", 2, 3}
print(myset)

{1, 2, 3, 'a', 22, 'oneteam'}

In [ ]:
# program using dictionary
a={'name':'aswathy','age':'21','place':'killimangalam'}
print(a)
print(a['name'])
print(a['age'])
print(a['place'])

{'name': 'aswathy', 'age': '21', 'place': 'killimangalam'}
aswathy
21
killimangalam

In [ ]:
# program to print even number 1 to 50
print("print even number 1 to 50")
count=1
while count<=50:
  if count%2==0:
   print("even numbers",count)
  count+=1

print even number 1 to 50
even numbers 2
even numbers 4
even numbers 6
even numbers 8
even numbers 10
even numbers 12
even numbers 14
even numbers 16
even numbers 18
even numbers 20
even numbers 22
even numbers 24
even numbers 26
even numbers 28
even numbers 30
even numbers 32
even numbers 34
even numbers 36
even numbers 38
even numbers 40
even numbers 42
even numbers 44
even numbers 46
even numbers 48
even numbers 50

In [ ]:
# program to print multiplication table
num1=int(input("enter the number:" ))
count=1
while count<=10:
  print(count, " * ", num1, " = ", count*num1)
  count+=1

enter the number:10
1  *  10  =  10
2  *  10  =  20
3  *  10  =  30
4  *  10  =  40
5  *  10  =  50
6  *  10  =  60
7  *  10  =  70
8  *  10  =  80
9  *  10  =  90
10  *  10  =  100

In [ ]:
# program to find sum of even number
count=1
limit=30
sum1=0
while count<=30:
 if count%2==0:
  sum1+=count
 count+=1
print("sum of even number:",sum1)

sum of even number: 240

In [ ]:
# program impuilt methods
#len()
my_string="python programming"
print(len(my_string))
print(my_string.upper())
print(my_string.lower())
print(my_string.capitalize())

18
PYTHON PROGRAMMING
python programming
Python programming

In [ ]:
# program for count
s = "hello, hello, hello, world!"
count = s.count("hello")
print(count)

3

In [ ]:
# program replace
my_string = ("hello, world")
new_string = my_string.replace("hello","hey")
print(new_string)

hey, world

In [ ]:
# program spliting
my_string = "orange, apple, banana"
fruit = my_string.split()
print(fruit)

['orange,', 'apple,', 'banana']

In [ ]:
# list impuild methods
# append program
my_list=[1, 2, 2, 4]
my_list.append(3)
print(my_list)

[1, 2, 2, 4, 3]

In [ ]:
# extend program
my_list=[2, 4, 7, 8]
my_list.extend([1,2,3])
print(my_list)

[2, 4, 7, 8, 1, 2, 3]

In [ ]:
# insert program, using for inser a value in particular place
my_list=[1, 2, 3, 4]
my_list.insert(1,3)
print(my_list)

[1, 3, 2, 3, 4]

In [ ]:
# program remove, remove element from starting position
my_list=[1, 2, 3, 2,]
my_list.remove(3)
print(my_list)

[1, 2, 2]

In [ ]:
# program pop, remove element from index
my_list=[1, 2, 3, 4]
my_list.pop(3)
print(my_list)

[1, 2, 3]

In [ ]:
# program index
my_list = [1, 2, 3, 2]
s=my_list.index(1)
print(s)

0

In [ ]:
# program count
my_list = [1, 2, 3, 2]
s=my_list.count(3)
print(s)

1

In [ ]:
# program sort
my_list = [41, 12, 63, 32]
s=my_list.sort()
print(s)

None

In [ ]:
# program reverse
my_list = [1, 2, 3, 4]
my_list.reverse()
print(my_list)

[4, 3, 2, 1]

In [ ]:
# clear program
my_list=[1,3,4,5]
my_list.clear()
print(my_list)

[]

In [ ]:
#program to print grade of student
print("enter the student details")
s_name=input("name:")
print("mark")
maths=float(input("maths:"))
eng=float(input("english:"))
science=float(input("science:"))
total=maths+eng+science
print(total)
avg=total/3
if avg>=91 and avg<=100:
  print("A+")
elif avg>=81 and avg<=91:
  print("A")
elif avg>=71 and avg<=81:
  print("B+")
elif avg>=61 and avg<=71:
  print("B")
elif avg>=51 and avg<=61:
  print("c")
elif avg>=41 and avg<=51:
  print("d")
elif avg>=31 and avg<=41:
  print("fail")

enter the student details
name:a
mark
maths:88
english:99
science:77
264.0
A

In [ ]:
#product of even number
count=1
limit=30
product=1
while(count<=limit):
  if count%2==0:
    product*=2
  count+=1
print("product of even:",product)

product of even: 32768

In [ ]:
#set
myset={1,2,3}
myset.add(4)
print(myset)


#update
myset.update([4,-3])
print(myset)

#remove
my_set = {1, 2, 3, 4, 5}
my_set.remove(3)
print(my_set)

#discard
my_set.discard(2)
print(my_set)

#pop ()
#clear ()

set1 = {1, 2, 3}
set2 = {3, 4, 5}

union_set = set1.intersection(set2)
print(union_set)

{1, 2, 3, 4}
{1, 2, 3, 4, -3}
{1, 2, 4, 5}
{1, 4, 5}
{3}

In [ ]:
#arbitaryargument parameter passing
def sum(*a):
  print(a)

sum(2,4,5,7,9)

(2, 4, 5, 7, 9)

In [ ]:
#reference parameter passing
def sum(a):
  print(a)
r=10
sum(r)

10

In [ ]:
#keyword arbitaryparameter passing
def word(**x):
  print(x)
word(name="aa",age="10")

{'name': 'aa', 'age': '10'}

In [ ]:
#create contact book
contact={}
def add():
  name=input("enter your name:")
  phone=input("enter your phone:")
  contact[name]=phone

def search():
  search_name=int(input("enter search_name:"))
  if search_name in contact:
    print(search_name,"yes search_name in contact")
  else:
    print("not in contact")
def update():
  update_name=int(input("enter update_name:"))
  update_number=int(input("enter update_number:"))
  update[update_name]=update_number
add()
search()

enter your name:aa
enter your phone:787878